Package: com.nathan.pinghooker
Name: PingHooker
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Nathan Senter
Author: Nathan Senter
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
