<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>PingHook</string>
	<key>items</key>
	<array>
		<dict>
			<key>label</key>
			<string>General</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nathan.pinghook</string>
			<key>key</key>
			<string>isEnabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Lock Device Enabled</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nathan.pinghook</string>
			<key>key</key>
			<string>isLockDeviceEnabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>File Path</string>
			<key>key</key>
			<string>FilePath</string>
			<key>defaults</key>
			<string>com.nathan.pinghook</string>
		</dict>
	</array>
</dict>
</plist>
